
.barra-lateral {
  width: 200px;
  height: 100vh;
  background-color: black;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.barra-lateral h2 {
  display: flex ;
  justify-content: space-between;
  align-items: center;
}
.simbolo{
  width: 40px;
}
.apresentacao {
  margin-left: 200px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin-left: 50px;
}
 .menu {
        font-family: Arial, Helvetica, sans-serif;
    }
  .Atletas {
     margin-left: 200px;
  font-family: Arial, Helvetica, sans-serif;
  }
  .Atletas li {
    font-size: x-large;
  }
  .lebron {
    width: 300px;

  }
  .Sobre {
    margin-left: 200px;
  font-family: Arial, Helvetica, sans-serif;
  }
 .Endereco {
  width: 90%;
  max-width: 600px;
  height: 400px; 
  margin: 40px auto;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.Endereco iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
#BotaoDeAlternarMapa {
      padding: 10px 20px;
      background-color: gray;
      color: white;
      border: none;
      border-radius: 50px;
      font-size: 16px;
      margin-left: 1500px; 
    }
    #BotaoDeAlternarMapa:hover {
      background-color: gray;
    }
    #BotaoDeAlternarMapa1 {
      padding: 10px 20px;
      background-color: gray;
      color: white;
      border: none;
      border-radius: 50px;
      font-size: 16px;
      margin-left: -1400px; 
    }
    #BotaoDeAlternarMapa1:hover {
      background-color: gray;
    }


  .TextoInformativo {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 200px;
    margin-top: 500px;
    color: gray;

  }
  .TelefoneContato {
  margin-left: 200px;
  font-family: Arial, Helvetica, sans-serif;
  }
  .TextoContato {
    font-size: large;
  }
.Contato {
   margin-left: 200px;
  font-family: Arial, Helvetica, sans-serif;
}
.TemaAssunto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
}
#botaoenviaremail{
  border-radius: 50px;
   width  : 785px;
   height: 45px;
   
}
#TextAssunto {
  padding: 10px;
  border-radius: 5px;
}